/* order is important here */

.hljs-meta {
    color: #82aaff;
}

.hljs-tag {
    color: #7fdbca;
}

.hljs-name {
    color: #32ffda;
    /* font-size: 0.65rem; */
}

.hljs-attr {
    color: #00c4ff;
}

.hljs-string {
    color: #ecc48d;
}

.hljs-symbol {
    color: #82aaff;
}
