@layer base {
    :root {
        --mani-title: #429062;
        /* #0ea94d */
        --mani-foreground: theme(colors.slate.800);
        --mani-background: theme(colors.slate.50);
        --mani-muted-background: theme(colors.slate.200);
        --mani-muted-foreground: theme(colors.slate.500);

        --mani-border: theme(colors.slate.200);
        --mani-border-muted: theme(colors.slate.300);
        --mani-border-separator: theme(colors.slate.300);

        --mani-ring: theme(colors.slate.200);
        --mani-ring-activated: theme(colors.slate.600);

        --list-select-focus: theme(colors.slate.200);
        --list-select-hover: theme(colors.slate.100);
        --list-select-selected-active: theme(colors.slate.300);
        --list-select-selected-inactive: theme(colors.slate.200);

        --list-select-bg-focus: theme(colors.slate.200);
        --list-select-bg-hover: theme(colors.slate.100);
        --list-select-bg-selected-active: theme(colors.slate.300);
        --list-select-bg-selected-inactive: theme(colors.slate.200);
    }

    .dark {
        --mani-title: #45a194;
        /* #32ffdaa0*/
        --mani-foreground: theme(colors.slate.200);
        --mani-background: theme(colors.slate.800);
        --mani-muted-background: theme(colors.slate.700);
        --mani-muted-foreground: theme(colors.slate.500);

        --mani-border: theme(colors.slate.600);
        --mani-border-muted: transparent;
        --mani-border-separator: theme(colors.slate.900);

        --mani-ring: theme(colors.slate.600);
        --mani-ring-activated: theme(colors.slate.400);

        --list-select-focus: theme(colors.slate.600);
        --list-select-hover: theme(colors.slate.700);
        --list-select-selected-active: theme(colors.slate.500);
        --list-select-selected-inactive: theme(colors.slate.700);

        --list-select-bg-focus: theme(colors.slate.600);
        --list-select-bg-hover: theme(colors.slate.700);
        --list-select-bg-selected-active: theme(colors.slate.500);
        --list-select-bg-selected-inactive: theme(colors.slate.700);
    }
}
