.temp-vscode {
    --vscode-input-background: #3c3c3c;
    --vscode-input-foreground: #cccccc;
    --vscode-inputOption-activeBorder: #007acc;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(0, 127, 212, 0.4);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: #a6a6a6;
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #3c3c3c;
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-dropdown-border: #3c3c3c;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #0e639c;
    --vscode-button-hoverBackground: #1177bb;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-radio-activeForeground: #ffffff;
    --vscode-radio-activeBackground: rgba(0, 127, 212, 0.4);
    --vscode-radio-activeBorder: #007acc;
    --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
    --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-checkbox-background: #3c3c3c;
    --vscode-checkbox-selectBackground: #252526;
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-checkbox-border: #6b6b6b;
    --vscode-checkbox-selectBorder: #c5c5c5;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);

    --vscode-list-focusOutline: #007fd4;

    --vscode-list-activeSelectionBackground: #04395e;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #37373d;

    --vscode-list-hoverBackground: #2a2d2e;
    --vscode-list-dropBackground: #383b3d;
    --vscode-list-dropBetweenBackground: #c5c5c5;
    --vscode-list-highlightForeground: #2aaaff;
    --vscode-list-focusHighlightForeground: #2aaaff;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #252526;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --vscode-list-deemphasizedForeground: #8c8c8c;

    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);

    --vscode-editorActionList-background: #252526;
    --vscode-editorActionList-foreground: #cccccc;
    --vscode-editorActionList-focusForeground: #ffffff;
    --vscode-editorActionList-focusBackground: #04395e;

    --vscode-menu-border: #454545;
    --vscode-menu-foreground: #cccccc;
    --vscode-menu-background: #252526;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #0078d4;
    --vscode-menu-separatorBackground: #454545;
}

/* element.style { top: 330px; height: 22px; line-height: 22px; } */

/* focused - navigations with keyboard; only border with outline-offset: -1px */
/* selected - this is current item; border and active bg */
/* focused and selected - mouse click; border and active bg */
