node_modules
dist
#out
.DS_Store
*.log*
*.tsbuildinfo

visualization.html
visualization-web.html

release
dist-electron/*
!dist-electron/plugins

out/*
!out/plugins

#src/renderer/src/components/4-dialogs/7-policy/8-utils/cpp

i18n-strings.json
i18n-strings-ast.json

