@keyframes rocketAnimation {
    0% {
        transform: scale(.6) translate(0px, 60px);
        opacity: 0;
    }

    25% {
        transform: scale(.5) translate(0px, 10px);
        opacity: 0.2;
    }

    50% {
        transform: scale(1) translate(0px, 0px);
        opacity: 0.5;
    }

    70% {
        transform: scale(1) translate(0px, 0px);
        opacity: 0.7;
    }
    100% {
        transform: scale(.5) translate(0px, 150px);
        opacity: 0;
    }
}
