/* //https://21st.dev/yadwinder/ios-spinner/default */
/* https://21st.dev/haydenbleasel/spinner/default */
/* @layer components { */
    .spinner-blade {
      position: absolute;
      left: 44%;
      top: 37%;
      width: 8%;
      height: 20%;

      animation: spinner-blade 1s linear infinite;
      will-change: opacity;
    }
    
    .spinner-blade:nth-child(1) {
      transform: rotate(0deg) translateY(-130%);
      animation-delay: -1.667s;
    }
    
    .spinner-blade:nth-child(2) {
      transform: rotate(30deg) translateY(-130%);
      animation-delay: -1.583s;
    }
    
    .spinner-blade:nth-child(3) {
      transform: rotate(60deg) translateY(-130%);
      animation-delay: -1.5s;
    }
    
    .spinner-blade:nth-child(4) {
      transform: rotate(90deg) translateY(-130%);
      animation-delay: -1.417s;
    }
    
    .spinner-blade:nth-child(5) {
      transform: rotate(120deg) translateY(-130%);
      animation-delay: -1.333s;
    }
    
    .spinner-blade:nth-child(6) {
      transform: rotate(150deg) translateY(-130%);
      animation-delay: -1.25s;
    }
    
    .spinner-blade:nth-child(7) {
      transform: rotate(180deg) translateY(-130%);
      animation-delay: -1.167s;
    }
    
    .spinner-blade:nth-child(8) {
      transform: rotate(210deg) translateY(-130%);
      animation-delay: -1.083s;
    }
    
    .spinner-blade:nth-child(9) {
      transform: rotate(240deg) translateY(-130%);
      animation-delay: -1s;
    }
    
    .spinner-blade:nth-child(10) {
      transform: rotate(270deg) translateY(-130%);
      animation-delay: -0.917s;
    }
    
    .spinner-blade:nth-child(11) {
      transform: rotate(300deg) translateY(-130%);
      animation-delay: -0.833s;
    }
    
    .spinner-blade:nth-child(12) {
      transform: rotate(330deg) translateY(-130%);
      animation-delay: -0.75s;
    }
  /* } */
  
  @keyframes spinner-blade {
    0% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
    }
  }
